SUPABASE_URL=https://hgjzkzbuengepqxxpznj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnanpremJ1ZW5nZXBxeHhwem5qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcwNTI4ODgsImV4cCI6MjEwMjYyODg4OH0.mT00ThdZHA7o5cj_D4PfTwWJO8A29dznilZTG6ggRZI
